.App {
  text-align: left;
  margin: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Пользовательские настройки */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  margin-right: 5px;
}

label {
  margin-right: 10px;
}

span {
  margin-right: 20px;
}

span:not(:nth-child(1)) {
  cursor: pointer;
}

li {
  list-style-type: none;
  margin-bottom: 7px;
}

.error {
  margin-bottom: 10px;
}